@font-face {
  font-family: john;
  src: url(./fonts/Jost-ExtraBold.ttf);
}
@font-face {
  font-family: john2;
  src: url(./fonts/Jost-Regular.ttf);
}

.logo {
  width: 130px;
  height: 40px;
}
.dr {
  margin: 10px;
}
.dropdown-item:hover {
  margin-left: 5px;
}
.dropdown-item {
  font-size: 14px;
}
.but1 {
  border: none;
  margin-right: 10px;
}
.pak {
  width: 40px;
  height: 40px;
}
.but2 {
  color: white;
  border-radius: 5px;
  padding: 10px 10px;
  background-color: #cd2c22;
  border: 1px solid #cd2c22;
  font-family: john2;
  /* font-size: 15px; */
}
.book {
  font-size: 50px;
  /* font-weight: bolder; */
  font-family: john;
  color: #05264e;
}

.p1 {
  color: gray;
  word-spacing: 3px;
  font-family: john2;
  margin-top: -49px;
}
.sideflip {
  margin-top: 60px;
  margin-left: 12%;
  max-width: 86%;
  height: auto;
}

.brand {
  width: 95%;
  height: 40px;
  /* margin-top: 40px;
  margin-bottom: 40px; */
}
.rowb {
  background-color: #f1f5f8;
}
.hot {
  font-family: john;
  color: #05264e;
  text-align: center;
  font-size: 28px;
}
.hotp {
  font-family: john2;
  text-align: center;
}

/* .underline {
  
  width: 200px;
  height: 150px;
  border: solid 5px #cd2c22;
  border-color: #cd2c22 transparent transparent transparent;
  border-radius: 70%/50px 90px 0 0;
  margin-left: 110px;
} */
.underline {
  width: 200px;
  height: 150px;
  border: solid 5px #cd2c22;
  border-color: #cd2c22 transparent transparent transparent;
  border-radius: 70%/20px 10px 0 0;
  margin-left: 110px;
  margin-bottom: -130px;
}
.field:hover {
  border: 2px solid #cd2c22;
}
.field2:hover {
  border: 2px solid #cd2c22;
}
.where:hover {
  border-left: 1px solid #cd2c22;
  border-right: 1px solid #cd2c22;
}
.field {
  border: 1px solid rgb(199, 190, 190);
  box-sizing: border-box;
  border-radius: 5px;
  width: 90%;
}
.leg {
  padding-left: 4%;
  margin-top: -4.5%;
}
.sel {
  border: none;
  padding-bottom: 3%;
  padding-right: 30%;
  padding-left: 3%;
  font-family: john2;
  color: rgb(161, 158, 158);
}
.where {
  background-color: white;
  font-size: 16px;
  font-family: john2;
}
.field2 {
  border: 1px solid rgb(199, 190, 190);
  box-sizing: border-box;
  border-radius: 5px;
  width: 43%;
  display: inline;
  flex-direction: row;
  margin-right: 3%;
  transition: 1s;
}
.date {
  border: none;
}
::placeholder {
  padding-left: 7%;
  font-family: john2;
  color: rgb(161, 158, 158);
  /* margin-bottom: 10%; */
}
.leg2 {
  padding-left: 4%;
  margin-top: -9%;
}
.avail {
  background-color: #ffe6e5;
  border: 1px soliD #ffe6e5;
  color: #cd2c22;
  padding: 15px 20px;
  width: 90%;
  font-family: john2;
  transition: 1s;
  border-radius: 7px;
}

.avail:hover {
  color: white;
  background-color: #cd2c22;
}
.card {
  border-radius: 15px;
  transition: 1s;
}

.cardbut {
  border-radius: 2px;
  border: none;
  padding: 1% 5%;
  font-size: 10px;
  font-family: john2;
  font-weight: 800;
}
.card-heading {
  color: #05264e;
  font-family: john;
  font-size: 17px;
  margin-top: 2%;
}
.card-but4 {
  border: 1px dashed #959da3;
  background-color: transparent;
  font-size: 10px;
  font-family: john2;
  border-radius: 2px;
  padding: 1% 3%;
  margin-right: 2%;
  color: #45596c;
}
.rs {
  font-family: john;
  font-size: 20px;
  color: #05264e;
}
.bib {
  color: orange;
}
.star {
  margin-left: 45%;
}
.review {
  font-family: john;
  color: #05264e;
  margin-left: 20%;
}
.rev {
  font-family: john2;
  font-size: 12px;
}
.loving-reviews {
  background-color: #f1f5f8;
}
.customer-img {
  width: 25%;
  height: 25%;
  border-radius: 5px;
}
.review-div {
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;

}

.ff {
  display: flex;
 flex-direction: column; 
  
}
 .aman {
  list-style: none;
   margin-left: -20%;
   color: #05264e;

}
.divan{
  font-family: john; 
} 
.usa{
  display: flex;
}
.reviewtext{
font-family: john2;
  color: #959da3;
  font-size: 12px;
  
}
.quote{
  height: 15%;
  padding: 2%;
margin-left: 25%;
margin-top: 5%;
}
.blogtext{
  color:#45596c;
  font-size: 12px;
  font-family: john2;
}
.more{
  color: #cd2c22;
  font-family: john;
  font-size: 15px;
}
.blog-card{
  border: none;
}